<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4">
        <div class="card-body p-4">
          <h1>Add Medicine</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-pin"></i>
                  </span>
            </div>
            <input class="form-control" type="text" placeholder="Medicine Name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
             <span class="input-group-text">
                    <i class="icon-target "></i>
                  </span>
            </div>
            <input class="form-control" type="text" placeholder="Medicine Type">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-minus"></i>
                  </span>
            </div>
            <input class="form-control" type="text" placeholder="Medicine Category">
          </div>
          <button class="btn btn-block btn-success" type="button">Add Medicine</button>
        </div>
      </div>
    </div>
  </div>
</div>
