<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4">
        <div class="card-body p-4">
          <h1>Add Medical Aid</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
            </div>
            <input class="form-control" type="text" placeholder="Medical Aid Name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-organization"></i>
                  </span>
            </div>
            <input class="form-control" type="text" placeholder="Medical Aid Plan">
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-notebook"></i>
                  </span>
            </div>
            <input class="form-control" type="number" placeholder="Medical Aid Number">
          </div>
          <button class="btn btn-block btn-success" type="button">Add Medical Aid</button>
        </div>
      </div>
    </div>
  </div>
</div>
